In [ ]:
# Import libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import pickle

In [19]:
# Load your dataset
df_data = pd.read_csv('../Resources/Final customer dataset.csv')

In [20]:
df_data

,Customer ID,Purchase Date,Product Category,Product Price,Quantity,Total Purchase Amount,Payment Method,Customer Age,Returns,Customer Name,Age,Gender,Churn
0,4625100001,2020-09-08 9:38,Electronics,12,3,740,Credit Card,37,0.0,Christine Hernandez,37,Male,0
1,4625100001,2022-03-05 12:56,Home,468,4,2739,PayPal,37,0.0,Christine Hernandez,37,Male,0
2,4625100001,2022-05-23 18:18,Home,288,2,3196,PayPal,37,0.0,Christine Hernandez,37,Male,0
3,4625100001,2020-11-12 13:13,Clothing,196,1,3509,PayPal,37,0.0,Christine Hernandez,37,Male,0
4,1359300001,2020-11-27 17:55,Home,449,1,3452,Credit Card,49,0.0,James Grant,49,Female,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,50000,2020-10-04 15:54,Clothing,107,3,2509,PayPal,29,1.0,Kenneth Lawrence,29,Female,0
499996,50000,2022-11-12 2:08,Books,231,5,2695,Credit Card,29,0.0,Kenneth Lawrence,29,Female,0
499997,50000,2023-05-14 8:15,Clothing,406,1,3205,Credit Card,29,0.0,Kenneth Lawrence,29,Female,0
499998,50000,2021-11-20 20:34,Books,419,1,2034,Cash,29,NaN,Kenneth Lawrence,29,Female,0
499999,50000,2020-03-11 22:10,Clothing,308,1,3854,Cash,29,1.0,Kenneth Lawrence,29,Female,0

In [21]:
# Select features and target variable
X = df_data[['Age', 'Gender', 'Total Purchase Amount']]  # Features
y = df_data['Churn']  # Target (1 for retained, 0 for churned)

In [22]:
# Convert categorical 'Gender' to numerical values (e.g., 0 for Female, 1 for Male)
X['Gender'] = X['Gender'].map({'Female': 0, 'Male': 1})

# Split dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

c:\Users\Koi Vi\.conda\envs\chatterbot_env\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [23]:
# Train the Linear Regression model
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [24]:
# Evaluate the model
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error {mse}')

Mean Squared Error 0.16018041150579948

In [25]:
# Save the trained model to a file
with open('model.pkl', 'wb') as file:
    pickle.dump(model, file)
print("Model saved as 'model.pkl'")

Model saved as 'model.pkl'